<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0338e67f10.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Detalles</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4" th:text="'Réplicas de: '+*{tema}"></h1>
            <p class="lead"></p>
            <hr class="my-4">
            <div th:replace="fragmentos :: navbar"></div>
            <p class="text-danger"></p>
            <div th:if = "*{error != null}"
            class="alert alert-warning alert-dismissible fade show" role = "alert">
            <button type="button" class="close" data-dismiss= "alert">&times;</button>
            <h4 th:text=*{error}></h4>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div th:if="*{replicas != null}">
                        <div th:each="replica : ${replicas}" class="card">
                            <h5 th:text="${replica.contenido}"></h5>
                            <label th:text = "'Enviado por: '+${replica.usuario.alias}"></label>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-9">
                    <form action="#" th:action="@{/temas/agregarreplica}" th:object="${replica}"
                    method="POST">
                <fieldset>
                <legend>Responder...</legend>                  
                <textarea cols="50" rows="4" required="required" th:field="*{contenido}"
                class="form-control" placeholder="Máximo de 400 caracteres" maxlength="400"></textarea>
                <input type="hidden" th:field="*{tema}">
                <p>
                    <input type="submit" value="Comentar" class="btn btn-primary" /> <input type="reset"
                    value="Limipar" class="btn btn-secondary"/>
                </p>
                </fieldset>
            </form>
            </div>
            <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <p>Desarrollo de Aplicaciones Web.</p>
                    <p>Daniel Salvador Vázquez</p>
                    <p>ITSSNP 2021.</p>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</body>
</html>