<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temas del foro</title>
    <script src="https://kit.fontawesome.com/0338e67f10.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1 class="display-4">Temas del Foro </h1>
        <p th:text="*{mensaje}" class="lead"></p>
        <hr class="my-4">
        <div th:replace="fragmentos :: navbar"></div>
        <p class="text-danger"></p>
        <div th:if="*{error != null}"
            class = "alert alert-warning alert-dimissible fade show" role ="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 th:text=*{error}></h4>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div th:if="*{temas != null}">
                    <div th:each="tema : ${temas}" class="card">
                        <h3><a th:href="'/temas/detalles/' + ${tema.id}" th:text="${tema.titulo}" > </a> </h3>
                        <h6 th:text="${tema.descripcion}"></h6>
                        <label th:text="'Creado por: '+${tema.usuario.nombre}"></label>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        
        <div class="row">
            <div class="col-3"></div>
            <div class="COL-6">
                <form action="#" th:action = "@{/temas/agregar}" th:object="${tema}"
                method="POST">
                <fieldset>
                    <legend>Agrege un nuevo tema</legend>
                    <label>Titulo del tema: </label>
                    <input type="text" required = "required" th:field="*{titulo}"
                    class="form-control" placeholder="MVC en Spring"
                    maxlength="60"/>
                    <label>Descripción: </label>
                    <textarea cols="50" rows="4" required="required" th:field="*{descripcion}"
                    class="form-control" placeholder="Máximo de 200 caracteres."
                    maxlength="200" ></textarea>
                    <p>
                        <input type="submit" value="Registrar" /> <input type="reset"
                        value="Limpiar"/>
                    </p>
                </fieldset>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p>Desarrollo de Aplicaiones Web.</p>
                <p>Daniel Salvador Vázquez.</p>
                <p>ITSSNP 2021.</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

</body>
</html>